<div>
    <p>Borrar la Siguiente linea?: </p>
    <form action="/borralinea/<%= @linea.cve_linea %>" method="post" accept-charset="utf-8">
       <input type="hidden" name="_method" value="delete">
       <label>Codigo </label><%= @linea.cve_linea %>
       <br>
       <label>Línea </label><%= @linea.linea %>
       <br/>
       <input type="submit" value="Borrar"/>
    </form>
    <p><a href="/listalineas">Listado de líneas</a></p>
    <p><a href="/inicio">Menú Principal</a></p>
</div