<div>
    <form action="/editlinea/<%= @linea.cve_linea %>" method="post" accept-charset="utf-8">
       <br>
       <input type="hidden" name="_method" value="put">
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Codigo Linea </label><%= @linea.cve_linea %>
       <br/>
       <label>Línea </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="linea" id="linea" class="campo_entrada" maxlength=30 value="<%= @linea.linea %>">
       <br/>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Guardar"/>
    </form>
    <p><a href="/listalineas">Listado de líneas</a></p>
    <p><a href="/inicio">Menú Principal</a></p>
</div>