<p>Líneas registradas: <%= @lineas.length %></p>
<table class="table1">
<tr>
   <th class= "th1">Num Linea</th>
   <th class= "th1">Descripcion</th>
   <th class= "th1" colspan="2">Acciones</th>
   
</tr>
<% @lineas.each do |linea| %>
   <tr>
      <td><%= linea.cve_linea %></td>
      <td><%= linea.linea %></td>
      <td><a href="/editlinea/<%= linea.cve_linea %>">[editar]</a></td>
      <td><a href="/borralinea/<%= linea.cve_linea %>">[borrar]</a></td>
   </tr>
<% end %>
</table>
<p><a href="/inicio">Menú Principal</a></p>