<div>
    <form action="/linea" method="post" accept-charset="utf-8">
    <br>
      <label>Codigo Linea </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" name="cve_linea" id="cve_linea" class="campo_entrada" maxlength=4>
      <br/>
      <label>Línea </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="linea" id="linea" class="campo_entrada" maxlength=30>
      <br/><br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Guardar"/>
    </form>
    <p><a href="/inicio">Menú Principal</a></p>
</div>