.campo_entrada
{
 text-transform: uppercase;
 border-radius: 10px;
 background-color: lightblue !important;
}



table 
{
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	background-color: transparent;
	border-spacing: 0px !important;
	border-collapse: collapse !important;
}
	
tr{
	text-align: center;
}

input{
	border-radius: 10px;

}
input:hover{
	background-color: lightgreen;
	
}
.table1,th,tr,td
{
	border: 1px solid black;
	
}
.th1{background-color: #DDA0DD; font-style: bold;}
label {font-weight: bold;}
table{border-radius: 5px;	}